/* https://mattbrictson.com/blog/css-normalize-and-reset#my-recommendation */

/* :root font added: 
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  https://css-tricks.com/snippets/css/system-font-stack/
 */

/* Personal changes
    :root - box-sizing: border-box;
    input - appearance: none;
    body - margin: 0;
*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

:root {
  line-height: 1.5;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Template above, new style below */

body {
  color: white;
  background-color: black;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  position: relative;
}

.main-container,
.grid-container {
  width: 450px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

.cell {
  font-size: 14rem;
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 81, 121);
}

.game-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  margin-top: 25px;
}

.grid-container {
  position: absolute;
  top: 100px;
}

.vert-line-1,
.vert-line-2,
.horz-line-1,
.horz-line-2 {
  position: absolute;
  margin: 0;
}

.vert-line-1,
.vert-line-2 {
  width: 10px;
  height: 450px;
  background-color: white;
}

.vert-line-1 {
  left: 145px;
}

.vert-line-2 {
  left: 295px;
}

.horz-line-1,
.horz-line-2 {
  height: 10px;
  width: 450px;
  background-color: white;
}

.horz-line-1 {
  top: 145px;
}

.horz-line-2 {
  top: 295px;
}